:local(.rating) {
  display: flex;
  align-items: center;
  font-size: 14px;
}

:local(.icon) {
  border: none;
  padding: 0;
  margin: 0 8px;
  cursor: pointer;
  outline: none;
  background: transparent;
}

:local(.icon:first-child) {
  margin-left: 0;
}

:local(.icon:last-child) {
  margin-right: 0;
}

:local(.icon:hover svg) {
  opacity: 0.6;
}

:local(.icon svg) {
  fill: #c4c4c4;
}

:local(.iconRed svg) {
  fill: #d8352f;
}

:local(.iconGreen svg) {
  fill: #7abe5a;
}

:local(.value) {
  display: inline-block;
  font-weight: bold;
  color: #ccc;
}

:local(.valueUp) {
  color: #7abe5a;
}

:local(.valueDown) {
  color: #d8352f;
}
