:local(.userCard) {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 9px;
  align-items: center;
}

:local(.avatar) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

:local(.name) {
  font-size: 16px;
  font-weight: bold;
}

:local(.rate) {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0,0,0,0.25);
}
