.accordeon {
  &__input {
    border-bottom: 1px solid lighten(@gray, 20);
    font-size: 1.14rem;
    display: flex;
    padding: 1rem 0;
  }
  &__label {
    width: 34%;
  }
  &__friends-number {
    width: 63%;
  }
  &__add, &__delete {
    cursor: pointer
  }
  &__delete {
    line-height: 1rem;
  }
  &__friends-list {
    margin-top: 24px;
    width: 100%;
  }
}
