.app-list {
  margin: -25px;
  padding: 0;
  list-style-type: none;
}

.app-list__item {
  display: inline-block;
  margin: 25px;
  width: 60px;
  vertical-align: top;
}

.app-list__name {
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app-list__avatar {
  margin: 0 0 6px;
}
