.auth {
  padding: 60px;
}

.auth__title {
  margin: 0 0 24px;
  text-align: center;
}

.auth__form {
  max-width: 300px;
  margin: 0 auto;
}

.auth__field {
  margin: 0 0 24px;
}

.auth__fields {
  margin: 0 0 40px;
}

.auth__error {
  margin: 0 0 40px;
  text-align: center;
  font-size: 16px;
  color: @red;
}
