.avatar {
  width: 48px;
  height: 48px;
}

.avatar_big {
  width: 150px;
  height: 150px;
}

.avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar_square {
  .avatar__img {
    border-radius: 20%;
  }
}
