html {
  font-size: 14px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: @black;
}

svg {
  fill: @black;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
