.button-create-new {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: none;

    .button-create-new__icon,
    .button-create-new__title {
      border-color: @red;
      color: @red;
    }
  }
}

.button-create-new__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  border: 1px dashed #BDBDBD;
  border-radius: 4px;
  font-size: 20px;
  color: #BDBDBD;
  transition: all 0.2s ease;
}

.button-create-new__title {
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease;
}
