.comment-form {
  padding: 20px;

  &__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 6px 0 0;
    margin: 0;
    line-height: 1.5;
    border: none;
    outline: none;
    resize: none;
    background: transparent;

    &::placeholder {
      opacity: 1;
      color: rgba(0,0,0,0.3);
    }
  }

  &__actions {
    margin: 20px 0 0;
  }
}
