.content {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 40px 40px 0;
  display: flex;
}

.content_shadows {
  box-shadow: 0 1px 34px rgba(216, 232, 232, 0.8);
}

.content__inner {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 40px 0;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.content__vertical-menu {
  min-width: 21.14rem;
}

.content__person-form {
  margin-left: 2.85rem;
}
