.cover__inner {
  position: relative;
  display: inline-block;
  padding: 0 50px 0 0;
}

.cover__remove {
  position: absolute;
  top: 0;
  right: 0;
}

.cover__img {
  display: block;
  max-width: 100%;
}
