.create-post {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #FDFEFE;
  padding: 82px 0 0;

  &__content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;

    &_footer {
      padding: 40px;
    }
  }

  &__title {
    margin: 0 0 9px;
  }

  &__author {
    margin: 0 0 55px;
  }

  &__author-name {
    font-size: 20px;
    font-weight: bold;
  }

  &__field {
    margin: 0 0 40px;
  }

  &__editor {
    flex: 1 1 auto;
    margin: 0 40px;
    box-shadow: 0 0 20px rgba(184, 184, 184, 0.25);
  }

  &__preview {
    padding: 50px;
    box-shadow: 0 0 20px rgba(184, 184, 184, 0.25);
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &__back-link {
    font-size: 16px;
    font-weight: bold;
  }
}
