.create-event-popup {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-event-popup__header {
  margin-bottom: 64px;
}

.create-event-popup__title {
  font-size: 48px;
  line-height: 56px;
}

.create-event-popup__container {
  width: 100%;
  display: flex;
  max-height: 240px;
  height: 100%;
  justify-content: space-around;
}

.create-event-popup__block {
  max-height: 240px;
  max-width: 580px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #E8ECEC;
  border-radius: 4px;
  margin-left: 40px;

  &:hover{
    text-decoration: none;
    background-color: #E8ECEC;
  }

  &:nth-child(2) {
    margin-right: 40px;
  }
  .create-event-popup__block_link {
    font-size: 28px;

    &:hover{
      text-decoration: none;
    }
  }
}
