.create-post {
  background-color: #FDFEFE;

  &__header {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 82px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__title {
    margin: 0 0 9px;
  }

  &__author {
    margin: 0 0 55px;
  }

  &__author-name {
    font-size: 20px;
    font-weight: bold;
  }

  &__author-label {
    font-size: 1.142rem;
    margin-right: 12px;
    color: @black;
    opacity: .37;
  }

  &__profile-dropdown {
    display: inline-block;
  }

  &__field {
    margin: 0 0 40px;
  }
}
