.date-input {
  font-size: 1.142rem;
  box-sizing: border-box;

  &__label {
    color: @black;
    margin-bottom: 12px;
  }

  &__day {
    display: inline-block;
    box-sizing: border-box;
    width: 90px;
    vertical-align: top;
    margin-right: 12px;
  }

  &__month {
    display: inline-block;
    box-sizing: border-box;
    width: 168px;
    vertical-align: top;
    margin-right: 12px;
  }

  &__year {
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    vertical-align: top;
  }

  &__error {
    line-height: 1.4;
    margin-top: 16px;
    color: @red;
  }
}
