.date-input {
  font-size: 1.142rem;
  box-sizing: border-box;

  &__label {
    color: @black;
    margin-bottom: 12px;
  }

  &__day {
    display: inline-block;
    box-sizing: border-box;
    width: 56px;
    vertical-align: top;
  }
    
  &__month {
    display: inline-block;
    box-sizing: border-box;
    width: 168px;
    margin: 0 12px;
    vertical-align: top;
  }

  &__year {
    display: inline-block;
    box-sizing: border-box;
    width: 86px;
    vertical-align: top;
  }
}