@borderRadius: 4px;

html .dropdown {
  font-size: 1.142rem;
  width: 100%;
  line-height: 16px;
  position: relative;
  box-sizing: border-box;

  &__control {
    background-color: @white;
    color: @gray-light;
    position: relative;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    min-height: 48px;
    border: 1px @gray solid;
    border-radius: @borderRadius;
    padding: 5px 16px;
    &:hover {
      cursor: pointer;
      border-color: @gray-darker;
    }

    &--is-focused {
      border-color: @gray-darker;
      box-shadow: none;
    }
  }

  &__control-wrapper_opened .dropdown__control {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__arrow {
    height: 8px;
    width: 8px;
    border: 2px @black solid;
    border-bottom: transparent;
    border-right: transparent;
    transform: rotate(225deg);
    transform-origin: 33% 33%;
    margin: 0;

    &_up {
      transform: rotate(45deg);
    }
  }

  &__menu {
    margin: 0;
  }

  &__menu-list {
    width: 100%;
    margin: 0;    
    position: absolute;
    top: 100%;
    border: 1px @gray-darker solid;
    border-bottom-left-radius: @borderRadius;
    border-bottom-right-radius: @borderRadius;
    border-top: transparent;
    background-color: #fff;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }

  &__options {
    display: none;
    left: -1px;

    &_opened {
      display: block;
    }
  }

  &__option {
    padding: 15px;
    overflow-wrap: break-word;
    background-color: @white;
    color: @black;
    &:hover {
      color: @red;
      cursor: pointer;
    }
    &_type {
      &_user:hover {
        color: @black;
      }
    }
  }

  &__label {
    margin: 10px 0;
  }

  &__subtext {
    margin-top: 12px;
    color: @gray-dark;
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-height: 48px;
    padding: 8px 0 8px 0;
    width: 100%;
    overflow: hidden;

    &::placeholder {
      color: @gray-light;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__indicator-separator {
    display: none;
  }

  &__value-container {
    padding: 0;
    overflow: hidden;

    input {
      line-height: 1;
    }
  }

  &__multi-value {
    background-color: @blue-green;
    border-radius: 4px;
    padding: 5px 10px;

    &:hover {
      cursor: default;
    }
    
    &__label {
      padding: 0;
    }

    &__remove {
      display: flex;
      align-items: center;
      padding-left: 5px;

      &:hover {
        cursor: pointer;
        background-color: @blue-green;
      }
    }
  }
}

