@b: drop-zone;

.@{b} {
  border: 1px dashed @red;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: @red;
  border-radius: 4px;
  &__text {
    align-self: center;
    padding: 2.42rem 0;
  }
  &:hover {
    border: 1px solid @red;
  }
}
