.edit {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: @blue-green;
  background-image: url('../static/img/pen.svg');
  background-repeat: no-repeat;
  background-position: center center;

  &_xsmall {
    width: 32px;
    height: 32px;
    background-size: 40%;
  }
}
