.entry-list {
  max-width: 600px;
  margin: 0 auto;
}

.entry-list__title {
  margin: 0 0 40px;
  line-height: 1;
  font-size: 28px;
  font-weight: 900;
}

.entry-list__item {
  margin: 0 0 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.entry-list__follow {
  max-width: 160px;
  width: 100%;

  @media (max-width: 679px) {
    max-width: 100%;
  }
}
