.fields__title {
  margin: 0 0 50px;
}

.fields__item {
  margin: 0 0 72px;
}

.field {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 'a a b b b b b';

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'a' 'b';
  }
}

.field_avatar {
  .field__input {
    padding-top: 50px;
  }
}

.field_reverse {
  grid-template-areas: 'b b b b b a a';
}

.field__label {
  grid-area: a;
  padding: 12px 0;
  font-size: 1.142rem;
}

.field__input {
  grid-area: b;
}

.field__item {
  margin: 0 0 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.field__error {
  margin: 12px 0 0;
  line-height: 1.4;
  font-size: 1.142rem;
  color: @red;
}

.field__section {
  margin: 0 0 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.field__section_large {
  margin-bottom: 40px;
}

.field__hint {
  font-size: 16px;
  line-height: 28px;
}
