.field {
  display: flex;
  align-items: baseline;
  max-width: 600px;

  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
  }
}

.field__label {
  font-size: 1.142rem;
  max-width: 200px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 12px 0;
  opacity: .37;
}

.field__input {
  width: 75%;
  max-width: 400px;
}
