.governance-election {
  padding: 120px 20px 80px;
}

.governance-election__grid {
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 32px 24px;
  display: grid;
  margin-right: 100px;
}

.governance-election__status-text {
  line-height: 28px;
  font-size: 16px;
}

.governance-election__nav-bar {
  
  margin-top: 160px;

  .menu__link {
    opacity: 0.2;

    &:hover {
      border-bottom-color: #000 !important;
    }
  }

  .menu__link_active {
    opacity: 1;
    border-bottom: 2px solid #000;
  }
}