.governance-vote__panel {
  margin: 0 0 48px;
}

.governance-vote__text {
  padding: 16px 0 0;
}

.governance-vote__vote {
  width: 200px;
}

.governance-vote__error {
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 28px;
  color: @red;
}
