.governance__text {
  font-weight: 500;
  line-height: 38px;
  font-size: 24px;
  max-width: 700px;
}

.governance__text_description {
  margin-bottom: 64px;
}

.governance__status-text {
  line-height: 28px;
  font-size: 16px;
  margin: 0 10px;
}

.governance__section {
  display: flex;
  justify-content: space-between;
}

.governance__edit-stake {
  display: flex;
  align-items: flex-end;
}

.governance__status {
  display: flex;
  flex-direction: column;
}

.governance__action {
  color: #d8352f;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  margin-left: auto;
  line-height: 28px;
}

.governance__arrow-icon {
  margin-left: 12px;
  margin-bottom: 2px;
}

.governance__exercise {
  font-weight: bold;
  line-height: 20px;
  font-size: 16px;
  color: @red;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  cursor: pointer;
}

.governance-all__title {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}