.governance__text {
  font-weight: 500;
  line-height: 38px;
  font-size: 24px;
  max-width: 700px;
}

.governance__text_description {
  margin-bottom: 64px;
}

.governance__status-text {
  line-height: 28px;
  font-size: 16px;
  margin: 0 10px;
}

.governance__section {
  display: flex;
}

.governance__edit-stake {
  display: flex;
  align-items: flex-end;
}

.governance__status {
  display: flex;
  flex-direction: column;
}

.governance__action {
  color: #d8352f;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  margin-left: auto;
  line-height: 28px;
}