.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.grid_content {
  grid-column-gap: 100px;
  grid-template-columns: 2fr 1fr;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}

.grid_main-post {
  .grid__item {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;

    &:first-child {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 5;
      padding-bottom: 0;
      border-bottom: 0;

      @media (max-width: 767px) {
        grid-column-end: 1;
      }
    }

    &:last-child {
      border-bottom-color: transparent;

      @media (max-width: 1023px) {
        border-bottom-color: #eee;
      }
    }
  }
}
