.header {
  display: flex;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
}

.header__side {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.header__main {
  display: flex;
  align-items: center;
  text-align: right;
}
