.icon-counter {
  display: flex;
}

.icon-counter__icon {
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-counter__counter {
  position: relative;
  top: -10px;
}
