.info-block {
  &_fixed-children{
    position: relative;
    height: 100%;
  }
  .info-block__scrolled-list {
    overflow-y: auto;
    max-height: calc(100% - 100px);
    margin: 35px 0 0;
  }
  .menu-popup__create-new_fixed {
    padding-top: 10px;
    margin: 0;
  }
  &__title {
    margin-bottom: 65px;
    font-size: 24px;
    font-weight: bolder;
    &_align_left {
      text-align: left;
    }
    &_size_small {
      margin-bottom: 20px;
      padding-bottom: 20px;
      font-size: 1.142rem;
    }

    &_line_gray-lighter {
      border-bottom: 1px solid @gray-lighter;
    }
    &_fixed {
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      padding-bottom: 0;
      margin-bottom: 10px;
    }
  }
}
