.info-block {

  &__title {
    margin-bottom: 65px;
    font-size: 24px;
    font-weight: bolder;

    &_align_left {
      text-align: left;
    }

    &_size_small {
      margin-bottom: 40px;
      font-size: 1.142rem;
    }
  }
}
