.modal-content {
  height: 100vh;
}

.modal-content__main, .menu-popup, .menu-popup__content-block, .info-block{
  height: 100%;
}

.menu-popup__container__main {
  height: 100%;
  box-sizing: border-box;
}

.menu-popup__main {
  height: calc(100% - 91px);
  box-sizing: border-box;
}

.info-block {
  overflow-y: auto;
  position: relative;
  &__title {
    margin-bottom: 65px;
    font-size: 24px;
    font-weight: bolder;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: white;
    &_align_left {
      text-align: left;
    }

    &_size_small {
      margin-bottom: 20px;
      padding-bottom: 20px;
      font-size: 1.142rem;
    }

    &_line_gray-lighter {
      border-bottom: 1px solid @gray-lighter;
    }
  }
}
