.inline {
  display: inline-block;
  margin: -8px;
}

.inline_without-margin {
  margin: 0;
}

.inline__item {
  display: inline-block;
  margin: 8px;
  vertical-align: middle;
}

.inline_xsmall {
  margin: -2px;

  > .inline__item {
    margin: -2px;
  }
}


.inline__item_without-margin {
  margin: 0;
}

.inline_small {
  margin: -4px;

  > .inline__item {
    margin: 4px;
  }
}

.inline_large {
  margin: -16px;

  > .inline__item {
    margin: 16px;
  }
}
