.inline {
  display: inline-block;
  margin: -8px;
}

.inline__item {
  display: inline-block;
  margin: 8px;
  vertical-align: middle;
}

.inline_small {
  margin: -4px;

  > .inline__item {
    margin: 4px;
  }
}

.inline_large {
  margin: -16px;

  > .inline__item {
    margin: 16px;
  }
}
