.input-search {
  position: relative;
  height: 48px;
}

.input-search__text {
  padding: 16px;
  padding-right: 30px;
  border: 1px solid #B1B1B1;
  border-radius: 4px;
  width: 270px;
}

.input-search__text, .input-search__text:focus {
  outline: none;
}

.input-search__icon {
  position: absolute;
  right: 18px;
  top: 18px;
}

.input-search__icon_close {
  cursor: pointer;
}
