.kyc {
  &__title {
    margin-right: 12px;
  }
  &__status-icon {
    margin-right: 24px;
  }

  &_align_right {
    text-align: right;

    .kyc__status-icon,
    .kyc__title {
      margin-right: 0;
    };

    .kyc__status-icon {
      margin-left: 12px;
    }
  }
}
