.layer {
  position: relative;
  display: inline-block;
  text-align: initial;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 6px 20px 0 rgba(52, 64, 72, 0.12);
  background: #fff;
}

.layer_auth {
  max-width: 600px;
  width: 100%;
}

.layer__close {
  position: absolute;
  top: 0;
  right: -16px;
  transform: translateX(100%);

  @media (max-width: 767px) {
    top: 16px;
    right: 16px;
    transform: none;
  }
}
