.links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 28px;

  svg {
    fill: @blue-green;
    min-width: 20px;
  }
}

.links__item {
  margin: 0 0 16px;

  &:last-child {
    margin-bottom: 0;
  }
}
