.logo {
  position: relative;
}

.logo_small {
  .logo__version {
    top: -2px;
    margin-left: -13px;
  }
}

.logo__svg {
  display: inline-block;
}

.logo__version {
  position: relative;
  top: -6px;
  display: inline-block;
  font-weight: 300;
  font-size: 11px;
  color: #000;
}
