#app {
  .medium-insert-buttons-show {
    span {
      display: inline !important;
    }
  }

  .medium-insert-embeds,
  .medium-insert-images,
  .mediumInsert {
    text-align: left;
  }

  .medium-insert-embeds {
    figure {
      margin: 0;
    }
  }
}
