.menu {
  display: flex;
  align-items: center;
  margin: -5px -15px;
  font-size: 14px;
  font-weight: bold;
  color: @black;
}

.menu_responsive {
  @media (max-width: 768px) {
    display: block;
  }
}

.menu__item {
  margin: 5px 15px;
}

.menu__item_active {
  color: @red;

  .menu__link {
    color: @red;
    cursor: default;
  }
}

.menu__link {
  padding: 0;
  margin: 0;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  outline: none;
  color: @black;
  cursor: pointer;
}

.menu__link_upper {
  text-transform: uppercase;
}

.menu_media {
  font-size: 20px;
  color: fade(@black, 60);

  .menu__link {
    color: fade(@black, 60);
  }

  .menu__item_active {
    color: @black;

    .menu__link {
      color: @black;
    }
  }
}

.menu_nav {
  font-size: 16px;
  color: fade(@black, 30);

  .menu__link {
    color: fade(@black, 30);
  }

  .menu__item_active {
    color: @black;

    .menu__link {
      color: @black;
    }
  }
}

.menu__tab {
  color: @black;
  font-size: 1.14rem;
  padding: 1.1rem 2.24rem;
  cursor: pointer;
  &:last-child, &:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 768px) {
    & > * {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &_active {
    &:hover {
      color: @red;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        border-radius: 3px;
        height: 2px;
        left: 0;
        top: 3.4rem;
        display: block;
        width: 100%;
        background-color: @red;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.menu_tabs {
  font-size: 1.14rem;
  margin: 0;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: baseline;
    & > * {
      padding: 0.5rem 0;
    }
  }
}

.menu_footer {
  font-size: 16px;
}
