.menu {
  display: flex;
  align-items: center;
  margin: -5px -15px;
  font-size: 14px;
  font-weight: bold;
  color: @black;
}

.menu_inline {
  display: block;

  .menu__item {
    display: inline-block;
  }
}

.menu_responsive {
  flex-wrap: wrap;

  @media (max-width: 768px) {
    display: block;
  }
}

.menu__item {
  margin: 5px 15px;
}

.menu__item_active {
  color: @red;

  .menu__link {
    text-decoration: none;
    color: @red;
    cursor: default;
  }
}

.menu__link {
  padding: 0;
  margin: 0;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  outline: none;
  color: @black;
  background: transparent;
  cursor: pointer;
}

.menu__link_disabled {
  opacity: 0.15;
  cursor: default;
}

.menu__link_upper {
  text-transform: uppercase;
}

.menu_media {
  font-size: 20px;
  color: fade(@black, 60);

  .menu__link {
    color: fade(@black, 60);

    &:hover,
    &_active {
      color: @black;
    }

    &_disabled {
      &:hover {
        color: fade(@black, 60);
      }
    }
  }
}

.menu_nav {
  font-size: 16px;
  color: fade(@black, 30);

  .menu__link {
    color: fade(@black, 30);
  }

  .menu__item_active {
    color: @black;

    .menu__link {
      color: @black;
    }
  }
}

.menu_footer {
  font-size: 16px;
}

.menu_simple-tabs {
  margin: 0 -15px;
  font-size: 16px;

  @media (max-width: 1023px) {
    display: block;
  }

  .menu__item {
    margin: 0 15px;
  }

  .menu__link {
    padding: 24px 0;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease border-bottom;

    @media (max-width: 1023px) {
      padding: 12px 0;
      border: none;
    }
  }

  .menu__link_active,
  .menu__link:hover {
    border-bottom-color: @red;

    @media (max-width: 1023px) {
      color: @red;
    }
  }
}

.menu_simple-tabs_black {
  .menu__link_active,
  .menu__link:hover {
    border-bottom-color: @black;

    @media (max-width: 1023px) {
      color: @black;
    }
  }
}

.menu_simple-tabs_small {
  .menu__link {
    padding: 5px 0;
  }
}

.menu_simple-tabs_medium {
  .menu__link {
    padding: 12px 0;
  }
}

.menu_not-responsive {
  @media (max-width: 1023px) {
    display: flex;
  }
}

.menu_vertical {
  display: block;

  .menu__item {
    text-align: left;

    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.menu_header {
  justify-content: flex-end;

  .menu__link {
    transition: color 0.2s ease;

    &:hover,
    &_active, {
      color: @red;
      text-decoration: none;
    }
  }
}
