.menu {
  display: flex;
  align-items: center;
  margin: 0 -15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: @black;
}

.menu__item {
  margin: 0 15px;
}

.menu__item_active {
  color: @red;

  .menu__link {
    color: @red;
    cursor: default;
  }
}

.menu__link {
  padding: 0;
  margin: 0;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  outline: none;
  color: @black;
  cursor: pointer;
}

.menu_media {
  text-transform: capitalize;
  font-size: 20px;
  color: fade(@black, 60);

  .menu__link {
    color: fade(@black, 60);
  }

  .menu__item_active {
    color: @black;

    .menu__link {
      color: @black;
    }
  }
}

.menu_nav {
  font-size: 16px;
  color: fade(@black, 30);

  .menu__link {
    color: fade(@black, 30);
  }

  .menu__item_active {
    color: @black;

    .menu__link {
      color: @black;
    }
  }
}
