.menu-popup {
  &__head {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    border-bottom: 1px solid @gray-lighter;
    background: #fff;
  }

  &__item-arrow {
    margin: 5px 15px;
    cursor: pointer;
  }

  &__container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 20px 40px;
    box-sizing: border-box;

    &__head {
      min-height: 90px;
      box-sizing: border-box;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    padding: 101px 35px 20px;

    @media (max-width: 424px) {
      display: block;
    }
  }

  &__content {
    display: flex;
    padding: 0 20px;
    flex-grow: 1;

    @media (max-width: 1023px) {
      display: block;
    }

    @media (max-width: 424px) {
      padding: 0;
    }
  }

  &__side {
    min-width: 140px;
  }

  &__content-block {
    padding: 0 5px;
  }

  &__content-item {
    margin-bottom: 20px;
  }

  &__logout {
    color: @red;
    margin-top: 0;
    margin-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  &__add {
    display: flex;

    &:hover {
      cursor: pointer;
      color: @red;
      text-decoration: none;

      .menu-popup__add-icon {
        border: 1px solid @red;
        color: @red;
      }
    }
  }

  &__add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid @gray;
    color: @gray;
    font-size: 15px;
    font-weight: 100;

    &_new {
      font-size: 35px;
      border: 1px dashed @gray;
    }
  }

  &__add-text {
    display: flex;
    align-items: center;
    text-align: left;
    flex-shrink: 1;
  }

  &__arrow-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;

      .menu-popup__arrow {
        border-color: @red;
      }
    }
  }

  &__arrow {
    height: 8px;
    width: 8px;
    border: 2px @black solid;
    border-bottom: transparent;
    border-right: transparent;
    transform: rotate(225deg);
    transform-origin: 44% 33%;
    margin: 0;

    &_red {
      border-color: @red;
    }
  }

  &__rate {
    font-weight: 600;
    font-size: 14px;
  }
}
