.modal-content {
  position: relative;
  background-color: @white;
  max-width: 1280px;
  min-height: 200px;
  box-shadow: @baseShadow;
  margin: 0 auto;

  &__close {
    position: absolute;
    top: 30px;
    right: 40px;
    padding: 5px;
    z-index: 10;
    font-size: 1.142rem;
    background-color: @white;

    &:hover {
      cursor: pointer;
    }
  }

  &__close-text {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__search {
    font-size: 1.142rem;
    display: flex;
    align-items: center;
    padding: 20px 60px 20px 40px;
    border-bottom: 1px solid @gray-lighter;
  }
  
  &__input {
    width: 100%;

    & input {
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  &__main {
    overflow-y: auto;
    max-height: calc(80vh - 90px);
  }
}
