.my-profile-list {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;

  &__filters {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__filters-element {
    display: inline;
    font-size: 1.142rem;
    opacity: .3;
    cursor: pointer;
    margin-right: 40px;
    font-weight: bold;
    &_active {
      opacity: 1;
    }
  }

  &__sheet {

    &_shift_small {
      // margin-bottom: -40px;
      margin-bottom: -3.5%;
    }

    &_shift_large {
      margin-bottom: -160px;
      margin-bottom: -13.5%;
      position: relative;

      // & .event-title__cover:after {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   background-color: #000;
      //   opacity: 0.6;
      //   top: 85%;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      // }
    }

    &_shift_medium {
      margin-bottom:  -120px;
    }

    &_link {
      position: relative;
      background-color: white;
      padding: 30px 10px 55px;
      font-size: 1.168rem;
      font-weight: 700;
      text-align: center;
      color: @red;
      text-transform: uppercase;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-left: 1px;
      margin-right:  1px;
    }
  }
}
