.my-profile-list {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;

  &__filters {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
    @media (max-width: 625px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__filters-element {
    display: inline;
    font-size: 1.142rem;
    opacity: .3;
    cursor: pointer;
    margin-right: 40px;
    font-weight: bold;
    &_active {
      opacity: 1;
    }
    @media (max-width: 625px) {
      padding: 10px 0;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__sheet {
    &_shift {
      margin-bottom: -55px;
    }

    &_shift_large {
      margin-bottom: -80px;
    }

    &_link {
      position: relative;
      background-color: white;
      padding: 30px 10px 55px;
      font-size: 1.168rem;
      font-weight: 700;
      text-align: center;
      color: @red;
      text-transform: uppercase;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-left: 1px;
      margin-right:  1px;

      & span:hover {
        color: @red-darker;
        cursor: pointer;
      }
    }
  }
}
