.nav-bar {
  font-size: 1.14rem;
  border-bottom: 1px solid darken(@gray-lighter, 5);
  &__menu {
    @media (max-width: 319px) {
      padding-bottom: 5px;
    }
  }
  &__content {
    padding: 0 40px;
    margin-top: 3.15rem;
  }
  &__title {
    font-size: 3.58rem;
    margin-bottom: 3.5rem;
    font-weight: bold;
    @media (max-width: 767px) {
      margin-bottom: 2.4rem;
      font-size: 2rem;
    }
  }
}
