.notification {
  padding: 20px;
  
  &__text {
    margin-top: 20px;
  }
  
  &__control {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
  }
  
  &__kyc {
    margin: 10px 0;
  }

  &_verification {
    background-color: darken(@gray-lighter, 5);
  }
  
  &_black {
    background-color: @black;
    color: @white;
  }

  &_message {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .notification__main {
      display: flex;
      align-items: center;
    }
    .notification__text,
    .notification__control {
      margin: 10px 0;
    }
  }
}
