.notification-tooltip__item {
  display: flex;
  padding: 24px 20px;
  &.notification-tooltip__item_new {
    border-left: 4px solid #D8352F;
  }
  p {
    margin: 0;
  }
  .notification-card {
    width: 100%;
    height: 100%;
    display: flex;
    .notification-card__buttons {
      margin-right: auto;
      margin-top: 16px;
    }
    &.notification-card_congratulations {
      flex-direction: column;
    }
    .notification-card__block {
      display: flex;
    }
    .notification-card__avatar {
      margin-right: 9px;
      margin-bottom: auto;
    }
    .notification-card__content {
      display: flex;
      flex-direction: column;
      line-height: 22px;
    }
    .notification-card__time {
      opacity: 0.6;
      font-size: 14px;
      margin-right: auto;
    }
    .notification-card__text, .notification-card__time, .notification-card__text_congratulations {
      text-align: left;
    }
    .notification-card__text_congratulations {
      line-height: 22px;
      margin-right: 115px;
    }
    .notification-card__description {
      min-height: 48px;
    }
    .notification-card__reply {
      margin-top: 16px;
      padding-left: 16px;
      border-left: 2px solid #E8ECEC;
    }
  }  
  .notification-card__side {
    border-radius: 4px;
    margin-left: auto;
    margin-bottom: auto;
    .notification-card__post-cover {
      width: 44px;
      height: 44px;
    }
  }
}
