.notifications-list {
  &__notification {
    max-width: 600px;
    box-shadow: @baseShadow;
    &_wide {
      max-width: 1200px;

      & > div {
        max-width: 1000px;
        margin: 0 auto;
      }
    }
  }
}