.organization {
  border-bottom: 1px solid rgba(184, 184, 184, 0.25);
  &__header {
    padding: 50px;
    padding-bottom: 0;
    & > *:first-child {
      padding-left: 60px;
      padding-right: 60px;
    }
    @media (max-width: 424px) {
      & > *:first-child {
        padding-right: 0px;
      }
    }
  }
  &__comments {
    max-width: 600px;
  }
  &__menu {
    margin-top: 40px;
    height: 100px;
    padding-left: 60px;
    padding-right: 60px;
    @media (max-width: 1023px) {
        padding-right: 0px;
    }
  }
  &__follow-button {
    width: 160px;
  }
  &__content {
    margin-top: 60px;
    padding-left: 57px;
    @media (max-width: 1023px) {
      margin-top: 220px;
    }
  }
  &__text {
    line-height: 1.8;
    font-size: 1.1429rem;
    max-width: 700px;
  }
  &__media {
    max-width: 100%;
    height: auto;
  }
}
