.organization-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.organization-card__aside {
  margin: 0 10px 0 0;
}

.organization-card__main {
  margin: 0 10px 0 0;
  flex: 1 1 auto;
}

.organization-card__name {
  margin: 0 0 2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.organization-card__nickname {
  font-size: 14px;
  line-height: 17px;
  color: rgba(0,0,0,0.6);
}

.organization-card__bside {
  text-align: right;
}
