.pagination {
  display: flex;
  justify-content: space-between;
  font-size: 1.142rem;
  font-weight: 600;
  
  &__page {
    padding: 0 13px;
    
    &_active {
      color: @red;
    }
  }
  
  &__turn {
    text-transform: capitalize;
    color: @gray-disabled;
    
    &_active {
      color: @black;
    }
  }
}