.passphrase {
  display: flex;
  & > *:first-child {
    margin-left: 0;
  }
  & > *:last-child {
    margin-right: 0;
  }
  &__word {
    margin: 0 0.85rem;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    & > * {
      margin: 5px 0;
    }
  }
  &__checkbox {
    position: absolute;
    opacity: 0;
    & + input[type="checkbox"] {
      cursor: pointer;
    }
    &:checked + .passphrase__label {
      &:after {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background: @red;
        animation-name: lineThrough;
        animation-duration: 0.4s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
  }
  &__label {
      position: relative;
      font-size: 1.1429rem;
      font-weight: bold;
  }
}

@keyframes lineThrough {
  0%   { width : 0; }
  100% { width: 100%; }
}
