.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1000;

  &:after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
  }
}


.popup_user-menu {
  top: 91px;
  z-index: 99;
  min-height: calc(100vh - 91px);
  background: #fff;

  &:after {
    display: none;
  }
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  outline: none;

  svg {
    width: 20px;
    height: 20px;
  }
}
