.post-views {
  color: #C4C4C4;
  font-weight: bold;
  font-size: 1.142rem;

  &__eye {
    display: inline-block;
    width: 20px;
    height: 15px;
    background: url('../static/img/eye_hover.svg');
    margin-right: 6px;
    vertical-align: middle;
  }

  &__views {
    display: inline-block;
    vertical-align: middle;
  }
}