.post-tooltip-content {
  padding: 20px;
  box-sizing: border-box; 
  width: 318px;
  &__repost {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 12px;
  }

  &__repost-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 17px;
    color: @black;
    background-image: url('../static/img/repost.svg');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 31px;
    letter-spacing: 0.38px;
  }

  &__share {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 19px;
  }

  &__share-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 17px;
    color: @black;
    letter-spacing: 0.38px;
  }

  &__social {
    padding-top: 8px;
    padding-bottom: 11px;
  }

  &__social-element {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background-color: #E8ECEC;
    margin-right: 8px;
  }

  &__link {
    padding-top: 18px;
  }

  &__link-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 17px;
    color: @black;
    letter-spacing: 0.38px;
  }
}