.post-form-editor-cover__container {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 700px;
}

.post-form-editor-cover__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;

  input {
    display: none;
  }
}

.post-form-editor-cover-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 40px;
  border: 1px solid #eee;

  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.post-form-editor-cover-placeholder__icon {
  position: relative;
  width: 25%;
  min-width: 100px;
  margin: 0 0 40px;

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.post-form-editor-cover-placeholder__text {
  font-size: 16px;
  line-height: 28px;
  max-width: 320px;
}

.post-form-editor-cover-preview {
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    .post-form-editor-cover-preview__remove {
      opacity: 1;
      transition: opacity 0.2s ease, z-index 0s linear 0s;
    }
  }
}

.post-form-editor-cover-preview__img {
  display: block;
  width: 100%;
}

.post-form-editor-cover-preview__remove {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  cursor: pointer;
  fill: #fff;
  opacity: 0;
  transition: opacity 0.2s ease, z-index 0s linear 0.2s;
}
