.post-header {
  padding: 20px 0;

  &_theme {
    &_organization {
      padding: 15px 0;
    }
  }

  @media (max-width: 767px) {
    padding: 10px 0;
  }

  &__user-name {
    font-size: 1.142rem;
    color: #1C1F20;
    font-weight: bold;
    &_theme {
      &_organization {
        font-size: 1.4286rem;
      }
    }
  }

  &__user-rate {
    padding-top: 3px;
    &_theme {
      &_organization {
        padding-top: 6px;
        font-size: 1.1429rem;
      }
    }
  }

  &__follow-button {
    width: 160px;

    @media (max-width: 767px) {
      width: auto;
    }
  }
}
