.post-body {
  margin: 0 0 32px;
  padding: 40px 40px 64px;
  box-shadow: 0 0 20px rgba(184, 184, 184, 0.25);

  @media (max-width: 767px) {
    padding: 20px 0 0;
    box-shadow: none;
  }
}

.post-body__inner {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.post-body__main {
  @media (max-width: 1023px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }
}

.post-body__bside {
  @media (max-width: 1023px) {
    grid-row-start: 1;
  }
}

.post-body__aside {
  @media (max-width: 1023px) {
    display: none;
  }
}

.post-body__actions {
  display: grid;
  grid-gap: 20px;
  align-items: center;
}

.post-body__rate {
  justify-self: flex-end;

  @media (max-width: 1023px) {
    justify-self: flex-start;
  }
}

.post-body__rating {
  justify-self: flex-end;
}

.post-body__share {
  position: relative;
  justify-self: flex-end;

  @media (max-width: 1023px) {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: initial;
  }
}

.post-body__share-button {
  width: 120px;

  @media (max-width: 1023px) {
    width: 100%;
  }
}

.post-body__content {
  margin: 0 0 32px;
}

.post-body__comments {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
}

.post-body__share-popup {
  position: absolute;
  left: -118%;
  top: 55px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  width: 320px;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
  z-index: 2;
  text-align: left;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-left: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    top: -6px;
    left: 65%;
    margin-left: -20px;
    transform: rotate(45deg);
  }
}
