.post-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  padding: 30px 40px;
  background: #F0F3F3;
  color: #000;

  @media(max-width: 767px) {
    min-height: auto;
  }
}

.post-card_with-cover {
  color: #fff;
}

.post-card__cover {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
  }
}

.post-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-card__rate {
  position: absolute;
  top: 40px;
  right: 40px;
  text-align: right;
}

.post-card__tags {
  margin: 0 0 9px;
}

.post-card__title {
  margin: 0 0 24px;
}

.post-card__shares {
  text-align: right;
}

.post-card_small {
  padding: 20px;
  min-height: 280px;
  box-sizing: border-box;
  background: #F0F3F3;

  .post-card__rate {
    top: 20px;
    right: 20px;
  }

  .title {
    font-size: 24px;
    line-height: 29px;
  }

  .toolbar__side {
    margin-bottom: 0;
  }

  .post-card__title {
    width: 260px;
    z-index: 1;
  }

  .post__cover-media {
    width: 100%;
    min-height: 280px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }

  .post-card__tags {
    z-index: 2;
  }
}
