.post-header {
  padding: 20px 0;

  @media (max-width: 767px) {
    padding: 10px 0;
  }

  &__user-name {
    font-size: 1.142rem;
    color: #1C1F20;
    font-weight: bold;
  }

  &__user-rate {
    padding-top: 3px;
  }

  &__follow-button {
    width: 160px;

    @media (max-width: 767px) {
      width: auto;
    }
  }
}
