.profile-tooltip-content {
  padding: 20px;
  &__avatar {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: top;
  }

  &__info {
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;
  }

  &__title {
    color: #1C1F20;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 24px;
  }

  &__username {
    color: #A9A9A9;
    font-size: 1.14rem;
    line-height: 20px;
    margin-top: 4px;
  }
}