.profile {
  &__block {
    margin-bottom: 45px;
    &_email {
      width: 240px;
    }
    &_add-button {
      width: 120px;
    }
    &_short {
      width: 100px;
    }
    &_avatar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;
    }
    &_textarea {
      height: 124px;
    }
  }

  &__info-block {
    margin-bottom: 65px;
  }

  &__text {
    margin-right: 30px;
  }

  &__text-block {
    margin: 15px 0;
  }

  &__drop-zone {
    width: calc(100% - 190px)
  }
}