.profile {
  &__block {
    margin-bottom: 40px;

    @media (max-width: 768px) {
      flex-direction: column;
      width: auto;
     }

    &_phone-number {
      max-width: 240px;
    }
    &_add-button {
      width: 120px;
    }
    &_short {
      width: 100px;
    }
    &_avatar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;
    }
  }

  &__info-block {
    margin-bottom: 95px;
    &:last-child {
      margin-bottom: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-right: 30px;
    line-height: 3;
  }

  &__text-block {
    margin: 15px 0;
  }

  &__drop-zone {
    width: calc(100% - 190px);
    @media (max-width: 768px) {
      margin-top: 15px;
      width: auto;
    }
  }

  &__item {
    border-bottom: 1px solid #EAEAEA;
  }
}
