.profiles-list {
  margin: 0 auto;
  max-width: 600px;
  color: #000;

  &__header {
    margin-bottom: 20px;
    @media (min-width: 767px) {
      text-align: left;
    }
  }

  &__button {
    min-width: 160px;
    max-width: 160px;
    @media (max-width: 1024px) {
      max-width: none;
      width: 60%;
    }
    @media (max-width: 424px) {
      width: 80%;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    position: relative;
    @media (max-width: 767px) {
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 27px;
      padding-left: 0;
      padding-right: 0;
      & > * {
        margin-top: 20px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    min-width: 50%;

    & > div {
      margin-left: 15px;
    }
  }
}
