.promo {
  font-size: 24px;
  line-height: 38px;
  width: 100%;
  overflow-x: hidden;

  &__section {
    border-bottom: 1px  solid #E8ECEC;

    &:last-child {
      border-bottom: none;
    }
  }

  &__inner {
    padding: 128px 40px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 767px) {
      padding: 40px 20px;
    }
  }
}

.promo-about {
  text-align: center;

  &__title {
    max-width: 850px;
    margin: 0 auto 40px;
  }

  &__text {
    max-width: 800px;
    margin: 0 auto 64px;
  }

  &__action {
    max-width: 300px;
    margin: 0 auto;
  }
}

.promo-features {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;

  @media (max-width: 767px) {
    display: block;
  }

  &__item {
    width: 50%;
    margin: 0 0 64px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__title {
    margin: 0 0 18px;
    font-size: 24px;
    line-height: 39px;
  }

  &__icon {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    &_content {
      background-image: url('../static/img/promo_content.svg');
    }

    &_users {
      background-image: url('../static/img/promo_users.svg');
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.promo-users {
  text-align: center;

  &__title {
    margin: 0 0 40px;
  }

  &__sub-title {
    margin: 0 0 32px;
    font-size: 24px;
    line-height: 38px;
  }

  &__action {
    width: 300px;
    margin: 0 auto;
  }
}

.promo-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &_u {
    width: 160px;
    height: 160px;
    background-image: url('../static/img/promo_u.svg');
  }
}

.promo-user {
  display: inline-block;
  text-align: left;

  &__avatar {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.17);

    &:before {
      content: '';
      position: absolute;
      top: -5px;
      right: -10px;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border: 5px solid #000;
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    &_medium {
      width: 94px;
      height: 94px;
    }

    &_small {
      width: 62px;
      height: 62px;

      &:before {
        top: -15px;
      }
    }
  }

  &__name {
    margin: 0 0 4px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  &__rate {
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
  }
}

.promo-users-icons {
  width: 100%;
  height: 203px;
  position: relative;

  @media (max-width: 1023px) {
    display: none;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 50%;

    &_kirill-romanov {
      top: 50px;
      margin-left: -550px;
    }

    &_u {
      top: 185px;
      margin-left: -270px;
    }

    &_bradley-nelson {
      top: 93px;
    }

    &_mika-ohara {
      top: 195px;
      margin-left: 290px;
    }
  }
}

.promo-editor {
  text-align: center;

  &__title {
    margin: 0 0 40px;
  }

  &__text {
    max-width: 800px;
    margin: 0 auto 60px;
  }

  &__sub-text {
    max-width: 516px;
    margin: 0 auto 60px;
    font-size: 16px;
    line-height: 28px;
  }

  &__tabs {
    margin: 0 0 40px;
  }

  &__event-title {
    text-align: initial;
  }

  &__editor {
    margin: 0 0 40px;
    padding: 40px 200px 70px;
    text-align: initial;
    box-shadow: 0 0 20px rgba(184, 184, 184, 0.25);
    border-radius: 16px;

    @media (max-width: 1023px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__action {
    max-width: 300px;
    margin: 0 auto;
  }
}

.promo-tabs {
  font-size: 28px;
  line-height: 34px;
  font-weight: 900;

  &__item {
    display: inline-block;
    padding: 24px 16px;
    cursor: pointer;
    color: rgba(0,0,0,0.37);
    border-bottom: 1px solid #E8ECEC;

    &_active {
      color: #000;
      border-bottom-color: #000;
    }
  }
}
