.rate__value {
  font-size: 18px;
  font-weight: 900;
  white-space: nowrap;
}

.rate__label {
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.6;
}

.rate__degree {
  position: absolute;
}

.rate_big {
  .rate__label {
    font-size: 16px;
  }

  .rate__value {
    margin: 0 0 4px;
    font-size: 48px;
    font-weight: 900;
  }
}
