.rate__value {
  font-size: 18px;
  font-weight: 900;
  white-space: nowrap;
}

.rate__label {
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.6;
}

.rate__degree {
  position: absolute;
}
