.rating {
  &__icon {
    display: inline-block;
    cursor: pointer;

    svg {
      width: 14px;
      height: 13px;
      fill: @gray-light;
    }

    &_red {
      svg {
        fill: @red;
      }
    }

    &_green {
      svg {
        fill: @green;
      }
    }

    &:hover {
      svg {
        opacity: .6;
      }
    }
  }

  &__value {
    display: inline-block;
    font-weight: bold;
    color: @gray-light;
    margin: 0 10px;

    &_up {
      color: @green;
    }

    &_down {
      color: @red;
    }
  }
}
