@media (max-width: 880px) {
  .secondary-tab-bar {
    flex-direction: column;
  }
}

.secondary-tab-bar {
  font-size: 1.142rem;
  color: @black;
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  &__element {
    margin-right: 30px;
    line-height: 25px;
    opacity: .2;
    padding-bottom: 3px;
    cursor: pointer;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }

    &_active {
      opacity: 1;
      border-bottom: 2px solid @black;
      font-weight: bold;
    }
  }
}