.share__icon {
  position: relative;
  top: -3px;

  svg {
    display: block;
  }
}

.share-btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  .repost {
    &__block {
      display: flex;
      width: 100%;
      padding-bottom: 15px;
      border-bottom: 1px solid #E1E1E1;
      margin-bottom: 20px;
      cursor: pointer;
    }

    &__icon {
      margin-right: 10px;
    }
  }

  .copylink {
    color: @red;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;

    &__link {
      text-overflow: ellipsis;
      max-width: 250px;
      overflow: hidden;
    }
  }

}