.shared {
  display: inline-block;

  &__amount {
    text-align: center;
    margin-right: 10px;
  }

  &__value {
    font-weight: 700;
    text-align: right;
    font-size: 1.142rem;
    padding: 3px;
  }

  &__label {
    text-transform: uppercase;
    font-size: .714rem;
    padding: 3px;
  }
}
