.sheets {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 40px 0;
  margin: 0 auto;
}

.sheets__item {
  padding: 8px;
  border-radius: 16px 16px 0 0;
  font-size: 12px;
  font-weight: bold;
  color: #8f8f8f;

  &:first-child {
    margin: 0 25px;
    padding-left: 75px;
    padding-right: 75px;
    background: #E8ECEC;
  }

  &:last-child {
    margin: 0 10px;
    padding-left: 90px;
    padding-right: 90px;
    background: #EDF1F1;
  }
}

.sheets__content {
  padding: 50px 100px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(184, 184, 184, 0.25);
  background: #fff;
}

.sheets__content_posts {
  border-radius: 0;
  padding: 40px;
  @media (max-width: 424px) {
    padding: 0;
  }
}
