.sign-up {
  margin: 0 0 90px;

  &__main-title {
    font-size: 3.5286rem;
    font-weight: bold;
  }

  &__section {
    margin-top: 4.4rem;
    height: 0;

    & > *:not(:first-child) {
      overflow: hidden;
      height: 0;
      position: absolute;
    }

    & > *:first-child {
      opacity: .2;
      color: @black;
    }

    &_active {
      height: auto;

      .sign-up__content {
        height: auto;
      }

      & > *:not(:first-child) {
        overflow: inherit;
        height: auto;
        position: static;
      }

      & > *:first-child {
        opacity: 1;
      }
    }

    &_passed {
      opacity: 0.2;
    }
  }

  &__title {
    font-size: 2.1rem;
    font-weight: bold;
    cursor: pointer;
  }

  &__text {
    margin-top: 1.7rem;
    font-size: 1.14rem;
  }

  &__content {
    margin-top: 2.7rem;

    &_user-name {
      max-width: 400px;
      margin-bottom: 2.7rem;
    }

    &_passphrase {
      margin-bottom: 3rem;

      @media (max-width: 424px) {
        margin-bottom: 1.5rem;
      }
    }

    &_verification {
      margin-bottom: 3rem;

      & > *:first-child {
        margin-bottom: 3.3rem;

        @media (max-width: 424px) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  &__agreement {
    display: flex;
    align-items: center;
  }

  &__agreement_anon {
    margin-top: 16px;
  }

  &__agreement-conditions {
    color: @red;
  }

  &__agreement-text {
    font-size: 0.8571rem;
    margin-left: 1rem;
  }

  &__submit-section {
    display: flex;

    @media (max-width: 424px) {
      flex-direction: column-reverse;
    }
  }

  &__submit-section-button {
    max-width: 200px;
    flex-grow: 1;

    @media (max-width: 424px) {
      max-width: 100%;
    }
  }

  &__submit-section-description {
    margin-left: 1rem;
    max-width: 230px;
    line-height: 1.8;
    font-size: 1.14rem;

    @media (max-width: 424px) {
      align-self: center;
    }
  }
}

.brain-key {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  box-shadow: 0px 5px 38px rgba(60, 68, 75, 0.37);
}

.brain-key__title {
  text-align: left;
}

.brain-key__button {
  max-width: 200px;
}

.brain-key__description {
  margin: 24px 0 40px;
  text-align: left;
  font-size: 16px;
  line-height: 28px;
}