.sign-up {
  font-size: 1.142rem;
  max-width: 800px;
  padding: 90px 20px;
  margin: 0 auto;

  &__title {
    margin-bottom: 64px;
  }

  &__section {
    margin-bottom: 64px;
    &_active {
      .sign-up__section-content {
        height: auto;
      }

      .sign-up__section-title {
        opacity: 1;
      }
    }
  }

  &__section-title {
    opacity: .2;
    color: @black;
    cursor: pointer;
  }

  &__section-content {
    overflow: hidden;
    height: 0;
  }

  &__section-text {
    margin-top: 25px;
  }

  &__button {
    width: 260px;
  }

  &__button-block {
    display: flex;
    align-items: center;
    margin-top: 40px;

    @media (max-width: 424px) {
      margin-top: 10px;
      flex-direction: column-reverse;
    }
  }

  &__button-description {
    display: inline-block;
    margin: 0 20px;
    max-width: 240px;
    line-height: 2;

    @media (max-width: 424px) {
      margin-bottom: 20px;
      line-height: 1.2;
    }
  }

  &__passphrases {
    margin-top: 35px;
  }

  &__passphrase {
    display: inline-block;
    font-weight: 700;
    padding-right: 24px;
    padding-bottom: 10px;

    &:last-of-type {
      padding-right: 0;
    }
  }

  &__username-hint {
    font-size: 1.142rem;
    margin-top: 24px;
    margin-bottom: 38px;
  }

  &__username-input {
    max-width: 400px;
    margin-bottom: 40px;
  }

  &__username-button {
    max-width: 200px;
  }
}
