.status {
  position: relative;
  font-size: 1.142rem;
  line-height: 20px;

  &__form {
    position: absolute;
    padding: 10px;
    background-color: white;
    box-shadow: @baseShadow;    
    width: 320px;
    @media (max-width: 424px) {
      width: 260px;
    }
  }

  &__control {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__button {
    margin-left: 10px;
  }

  &__tooltip-wrapper {
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 0;
  }

  &:hover {
    cursor: pointer;
  }
}
