@switcher-transition-duration: 0.5s;

.switcher {
  display: inline-block;

  &__label {
    display: block;
    cursor: pointer;
  }

  &__label-off {
    vertical-align: middle;
    margin-right: 16px;
  }

  &__label-on {
    vertical-align: middle;
  }

  &__checkmark {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 64px;
    height: 32px;
    border: 1px solid #BDBDBD;
    border-radius: 40px;
    background: #F2F2F2;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 
      background-color @switcher-transition-duration, 
      border-color @switcher-transition-duration;
  }

  &__toggle {
    position: absolute;
    z-index: 10;
    left: -1px;
    top: -1px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 1px solid #BDBDBD;
    border-radius: 40px;
    background-color: @white;
    transition: 
      background-color @switcher-transition-duration, 
      border-color @switcher-transition-duration, 
      left @switcher-transition-duration;
  }

  &__toggle-background {
    position: absolute;
    z-index: 0;
    left: -55px;
    width: 70px;
    height: 100%;
    background-color: @red;
    transition:
      left @switcher-transition-duration;
  }

  &__input {
    display: none;

    &:checked {
      + .switcher__checkmark {  
        border-color: @red;
        background-color: @red;
        
        .switcher__toggle {
          left: calc(100% - 31px);
          border-color: @red;
        }
        .switcher__toggle-background {
          left: -23px;
        }
      }
    }
  }
}