.table-content {
  margin: 0 0 32px;
}
.table-content_big-bottom {
  margin-bottom: 80px;  
}
.table-content__table {
  margin: 0 0 32px;
}



.table-content__showmore {
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.table-content__navbar {
  .table-content__showmore {
    margin-bottom: 64px;
  }
}

.table-content__pagination {
  display: flex;
  user-select: none;
  padding: 0;

  *, *:active, *:focus {
    outline: 0;
    border: none;
  }

  & > li {
    list-style: none;
  }

  .rc-pagination-disabled {
    color: @gray-disabled;
  }

  .rc-pagination-next, .rc-pagination-prev, .rc-pagination-item  {
    cursor: pointer;
    text-align: center;
    height: 20px;
    font-weight: bold;
    font-size: 16px;
  }

  .rc-pagination-prev {
    margin-right: auto;
  }

  .rc-pagination-next {
    margin-left: auto;
  }

  .rc-pagination-item {
    margin: 0 12px;
  }

  .rc-pagination-item-active {
    a {
      color: @red;
    }
  }
}

.rc-pagination-jump-prev:after, .rc-pagination-jump-next:after {
  content: "\2022\2022\2022";
  display: block;
  letter-spacing: 2px;
  color: #ccc;
  font-size: 12px;
  margin-top: 1px;
  cursor: pointer;
}