.tag {
  display: flex;
  align-items: center;
  font-size: 0.857rem;
  background-color: @blue-green;
  border-radius: 4px;
  padding: 5px;

  &__name {
    padding: 0 10px;
  }

  &__icon {
    padding: 0 10px;
  }
}
