.text-editor {
  padding: 40px;
}

.text-editor__inner {
  max-width: 800px;
  margin: 0 auto;
}

.text-editor__content {
  outline: none;
  font-size: 18px;
  cursor: text;

  &:after {
    font-weight: normal;
    font-style: normal;
  }

  p {
    margin: 0 0 20px;
    line-height: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    margin: 0 0 20px;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.text-editor__field {
  margin: 0 0 40px;
}

.text-editor__field_small {
  margin-bottom: 20px;
}

.text-editor__title {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 48px;
  line-height: 68px;
  font-weight: bold;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;

  &::-webkit-input-placeholder {
    opacity: 1;
    color: #C0C0C0;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: #C0C0C0;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: #C0C0C0;
  }

  &:-moz-placeholder {
    opacity: 1;
    color: #C0C0C0;
  }
}

.text-editor__title_lead {
  font-size: 24px;
  line-height: 68px;
  font-weight: normal;
}
