.textarea {
  width: 100%;
  height: 100%;
  font-size: 1rem;

  &__text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 15px;
    border: 1px solid @gray;
    border-radius: 4px;
    margin-top: 10px;

    &:focus {
      outline: none;
      border-color: @gray-darker;
    }
  }
}

.textarea_border_none {
  .textarea__text {
    border: none;
    margin:  0;
    &:focus {
      border: none;
    }
  }
}
