.time-counter {
  display: inline-block;
  &__time {
    display: inline-block;
    padding-right: 16px;
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  &__value {
    font-size: 2.2857rem;
    font-weight: 900;
    @media (min-width: 767px) {
      margin-bottom: 8px;
    }
    @media (max-width: 424px) {
      font-size: 1.85rem;
    }
    &_wide {
      min-width: 10.32rem;
    }
  }

  &__name {
    font-size: 0.7143rem;
    opacity: .6;
    text-transform: uppercase;
  }
}