.time-counter {
  display: inline-block;

  &__time {
    display: inline-block;
    padding-right: 20px;
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  &__value {
    font-size: 2.2857rem;
    font-weight: 900;
    line-height: 1;


    @media (max-width: 424px) {
      font-size: 1.85rem;
    }

    &_wide {
      min-width: 10.32rem;
    }
  }

  &__name {
    font-size: 0.7143rem;
    font-weight: 600;
    opacity: .6;
    text-transform: uppercase;

    @media (min-width: 767px) {
      margin-top: 8px;
    }
  }
}
