.tippy-popper[x-placement^=bottom] {
  .tippy-tooltip.dropdown-theme {
    .tippy-arrow {
      border-bottom-color: #fff;
    }
  }
}

.tippy-tooltip.dropdown-theme {
  padding: 0;
  text-align: initial;
  background: #fff;
  color: #000;
  border: 1px solid #E8ECEC;

  @media (max-width: 787px) {
    width: 100%;
  }

  .arrow-regular {
    border-bottom-color: #E8ECEC !important;
  }
}
