.toolbar {
  display: flex;
  align-items: center;
  margin: -10px;
}

.toolbar_fluid {
  > .toolbar__main {
    flex: 0 1 auto;
  }
}

.toolbar_top {
  align-items: flex-start;
}

.toolbar_small {
  margin: -4px;

  > .toolbar__main,
  > .toolbar__side {
    margin: 4px;
  }
}

.toolbar_responsive {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 0px;
  }
}

.toolbar_responsive-reverse {
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.toolbar__main {
  flex: 1 1 auto;
  margin: 10px;
}

.toolbar__side {
  margin: 10px;
}


@media (max-width: 650px) {
  .user-header__side {
    .toolbar_top {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;

      margin: 0;
    }

    .inline_large {
      margin: -6px;
    }
  }
}