.unauth-table {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.142rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    margin-bottom: 68px;
    max-width: 1000px;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title {
    & > * {
      padding-right: 35px;
    }
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  
  &__options {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    & > div {
      padding-left: 40px;
      & svg:hover {
        cursor: pointer;
      }
    }
    
    @media (max-width: 767px) {
      justify-content: flex-start;
  
      & > div {
        padding-left: 0;
      }
    }
  }

  &__option-label {
    font-weight: 700;
    margin: 0 5px;
  }

  &__tooltip-wrapper {
    position: absolute;
    right: 0;
    z-index: 10;
  }

  &__icon {
    position: relative;
  }

  &__tooltip {
    padding: 20px;
    background-color: @white;
    width: 360px;
  }

  &__tooltip-tag {
    padding-right: 15px;
  }

  &__tooltip-tags {
    margin-top: 15px;
    line-height: 2.5;
  }

  &__tooltip-tag:hover {
    color: @red-darker;
    cursor: pointer;
  }
}
