.user-pick {
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  img,
  svg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}
