.user-card {
  display: flex;
  align-items: center;
}

.user-card__avatar {
  padding: 0 10px 0 0;
  align-self: flex-start;
}

.user-card__info {
  flex: 1 1 auto;
}

.user-card__rate {
  text-align: right;
}

.user-card__name {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.user-card__account {
  color: fade(@black, 60);
}

.user-card_text_left {
  .user-card__info {
    text-align: left;
  }
}
