.user-menu {
  box-sizing: border-box;
  width: 100%;
  align-self: flex-start;
  text-align: initial;
}

.user-menu_blur {
  filter: blur(5px);
}

.user-menu__header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.user-menu__content {
  position: relative;
  z-index: 0;
}

.user-menu__section {
  margin: 0 0 42px;
}

.user-menu__communities {
  display: flex;
  flex-direction: column;

  @media (max-width: 1199px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 10px 15px;
  }

  .user-card {
    vertical-align: top;
    text-align: left;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 16px;
  }

  .user-card__side {
    flex: 1 1 auto;
    overflow: hidden;
  }

  .user-card__inner {
    align-items: flex-start;
    display: flex;
    max-width: 200px;
  }

  .user-card__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-card__main {
    margin-right: 8px;
  }

  .user-card_size_small .avatar {
    width: 24px;
    height: 24px;
  }
}

.user-menu__side {
  padding-bottom: 40px;
  margin-right: 50px;

  .menu__link {
    font-size: 12px;
    font-weight: bold;
    color: #505050;
    opacity: 0.2;

    &:hover {
      color: black;
      text-decoration: none;
      opacity: 1;
    }
    
    &.menu__link_active {
      color: @red;
      opacity: 1;
    }
  }
  
  .menu__logout {
    fill: #505050;
    opacity: 1;
    transition: all .2s;

    &:hover {
      fill: black;
    }
  }
}

.user-menu__title {
  margin-bottom: 14px;
  font-size: 18px;
  color: @gray-dark;
  margin-top: 40px;
}

.user-menu-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  fill: none;
  cursor: pointer;
}

.user-menu-trigger_active {
  path {
    stroke: @red;
  }
}
