.user-header {
  display: flex;
  margin: 0 0 40px;
  padding: 0 0 36px;
  border-bottom: 1px solid #EAEAEA;
}

.user-header__main {
  padding: 0 36px 0 0;
}

.user-header__side {
  flex: 1 1 auto;
}

.user-header__name {
  margin: 0 0 2px;
}

.user-header__account-name {
  margin: 0 0 14px;
  font-size: 14px;
  color: #585858;
}

.user-header__info {
  margin: 0 0 24px;
  font-size: 16px;
}

.user-header__status {
  width: 60%;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.user-header__rate {
  text-align: right;
}
