.user-header {
  margin: 0 0 40px;
  padding: 0 0 40px;
  border-bottom: 1px solid #EAEAEA;
}

.user-header__main {
  display: flex;
  margin: 0 0 50px;
}

.user-header__account {
  flex: 1 1 auto;
  margin: 0 36px 0 0;
}

.user-header__avatar {
  margin: 0 36px 0 0;
}

.user-header__name {
  margin: 0 0 5px;
}

.user-header__account-name {
  margin: 0 0 24px;
  color: rgba(0,0,0,0.6);
}

.user-header__rate {
  text-align: right;
}

.user-header__side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-header__follow-button {
  width: 160px;
}

.user-header__edit-button {
  font-size: 16px;
  font-weight: 700;
}
