.user-cards-list__item {
  margin: 0 0 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-cards-list__status {
  font-size: 12px;
  color: #dadada;
}

.user-cards-list__remove {
  fill: #dadada;
}
