.user-section {
  margin: 0 0 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-section__title {
  margin: 0 0 20px;
}

.user-section__tabs {
  margin: 0 0 40px;
}

.user-section__content {
  font-size: 18px;
}

.user-section__organization {
  margin: 0 0 80px;
}
