.user-header {
  margin: 0 0 40px;
  padding: 0 0 40px;
  border-bottom: 1px solid #EAEAEA;
}

.user-header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -18px;
}

.user-header__content_main {
  margin-bottom: 50px;
}

.user-header__section {
  margin: 18px;
}

.user-header__section_account {
  flex: 1 1 auto;
}

.user-header__section_rate {
  text-align: right;
}

.user-header__name {
  margin: 0 0 5px;
}

.user-header__account-name {
  margin: 0 0 24px;
  color: rgba(0,0,0,0.6);
}

.user-header__follow-button {
  width: 160px;
}

.user-header__edit-button {
  font-size: 16px;
  font-weight: 700;
}
