.user-card {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 16px;
  line-height: 1.25;
}

.user-card_size_big {
  font-size: 20px;
}

.user-card_size_small {
  .user-card__inner {
    align-items: flex-start;
  }

  .user-card__name {
    margin-top: -3px;
    margin-bottom: 0;
  }

  .user-card__rate {
    font-weight: normal;
  }

  .avatar {
    width: 24px;
    height: 24px;
  }
}

.user-card__inner {
  display: grid;
  align-items: center;
  grid-template: 'a a';
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.user-card__side {
  flex: 1 1 auto;
  overflow: hidden;
}

.user-card_with-caption {
  padding: 0 0 16px;
}

.user-card__name {
  margin: 0 0 3px;
  font-weight: bold;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}

.user-card__account {
  font-size: 14px;
  color: inherit;
  opacity: 0.7;

  &_theme {
    &_vertical {
      font-size: 1rem;
    }
  }
}

.user-card__rate {
  font-size: 0.875em;
  font-weight: 600;
  color: #767676;
}

.user-card_text_left {
  .user-card__info {
    text-align: left;
  }
}

.user-card_no-text-transform {
  .user-card__name {
    text-transform: none;
  }
}

.user-card__position {
  margin: 0 0 0 20px;
  color: #C4C4C4;
}

.user-card__caption {
  width: 100%;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
