.users-group__title {
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: 900;
}

.users-group__list {
  margin: 0 0 30px;
}

.users-group__item {
  margin: 0 0 20px;
}

.users-group__show-more {
  font-weight: bold;
  color: @black;

  a {
    color: inherit;
  }
}
