@b: vertical-menu;

.@{b} {
  border: 1px solid @gray-vertical-menu;
  border-radius: 4px;
  font-size: 1.02rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 0;
    &__section {
      list-style-type: none;
      display: flex;
      padding: 1.45rem;
      justify-content: space-between;
      border-bottom: 1px solid @gray-vertical-menu;
      font-weight: bold;
      &:last-child {
        border-bottom: none;
      }
      &_active {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          border-radius: 3px;
          height: 1.14rem;
          left: -1px;
          display: block;
          width: 2px;
          background-color: @red;
        }
      }
    }
}
