.header {
  display: flex;
  align-items: center;
  margin: 16px 0;
  line-height: 16px;
}

.info {
  color: rgba(0,0,0,.6);
  font-size: 12px;
  margin: 0 10px 0 0;
}

.user {
  margin-bottom: 20px;
}

.avatarSmall {
  margin-right: 5px;
}

.date {
  margin-right: 10px;
}

.orgImg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-top: -3px;
  box-shadow: 0px 1px 4px rgba(60, 68, 75, 0.13);
  border-radius: 1px;
  margin-right: 6px;
  display: inline;
}

.orgImgSmall {
  position: absolute;
  top: 77px;
  left: 42px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  box-shadow: 0px 1px 4px rgba(60, 68, 75, 0.13);
  border-radius: 1px;
}