:local(.header) {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

:local(.info) {
  color: rgba(0,0,0,.6);
  font-size: 12px;
  margin: 0 10px 0 0;
}

:local(.user) {
  margin-bottom: 20px;
}

:local(.avatarSmall) {
  margin-right: 5px;
}