:local(.form) {
  display: flex;
  padding: 20px;
}

:local(.form[level="2"]) {
  padding-left: 64px;
}

:local(.form[level="3"]) {
  padding-left: 108px;
}

:local(.userPick) {
  margin: 0 8px 0 0;
  padding: 6px 0 0;
}

:local(.content) {
  flex: 1 1 auto;
}

:local(.field) {
  display: flex;
  align-items: flex-end;
  border: 1px solid #B1B1B1;
  border-radius: 4px;
}

:local(.inputWrapper) {
  flex: 1 1 auto;
}

:local(.input) {
  display: block;
  width: 100%;
  line-height: 1;
  box-sizing: border-box;
  padding: 10px 22px 8px;
  border: none;
  font-size: 16px;
  line-height: 28px;
  resize: none;
  outline: none;
  background: transparent;
}

:local(.input::placeholder) {
  opacity: 1;
  color: #C1C1C1;
}

:local(.actions) {
  display: flex;
  align-items: center;
  height: 46px;
  padding: 0 10px 0 0;
}

:local(.action) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #c4c4c4;
}

:local(.action:hover) {
  fill: #767676;
}

:local(.images) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  margin: 8px 0 0;
}

:local(.imageWrapper) {
  position: relative;
  z-index: 0;
}

:local(.image) {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

:local(.imageRemove) {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 1px;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}
