.form {
  margin: 0 -20px;
  border: 1px solid #e1e1e1;
  border-width: 1px 0;
}

.cover {
  margin-bottom: 16px;
}

.cover img {
  display: block;
  max-width: 100%;
}

.text {
  flex: 1 1 auto;
  margin: 10px;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
}