:local(.footer) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

@media (max-width: 767px) {
  :local(.footer) {
    grid-template-columns: 1fr;
  }
}

:local(.side) {
  justify-self: flex-end;
}

@media (max-width: 767px) {
  :local(.side) {
    justify-self: flex-start;
  }
}

:local(.list) {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  margin: 0;
  padding: 0;
  list-style: none;
}

:local(.telegramTitle) {
  margin: 0 20px 0 0;
  font-weight: normal;
}

:local(.telegram a) {
  display: inline;
  white-space: nowrap;
}

:local(.telegram svg) {
  display: inline;
  margin: 0 6px 0 0;
}
