.postCard {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  padding: 20px 40px 40px;
  background: #F9F9F9;
}

@media(max-width: 767px) {
  .postCard {
    min-height: auto;
  }
}

.postBorder .postCardCover {
  margin: 0 -10px;
}

.postCard svg path {
  fill: #000;
}

.postCardCover {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  fill: #000;
}

.postCardCover svg {
  color: #000;
  fill: #000;
}

.postCardCover:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoblock {
  display: flex;
  align-items: center;
  margin: -10px;
}

.infoblockMain {
  flex: 1 1 auto;
  margin: 10px;
}

.infoblockSide {
  margin: 10px;
  display: flex;
  align-items: center;
  line-height: 24px;
}

.rate {
  position: absolute;
  top: 30px;
  right: 35px;
  text-align: right;
}

.rate div {
  font-size: 16px;
  font-weight: bold;
}

.postCardWithCover .rate div,
.postCardWithCover .title a,
.postCardWithCover .views,
.postCardWithCover .author,
.postCardWithCover .name {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  display: block;
}

.title a {
  margin: 0 0 24px;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  margin: 0;
  color: inherit;
}

.shares {
  text-align: right;
}

.views {
  margin-left: 7px;
  font-size: 12px;
  font-weight: bold;
}

.username {
  display: flex;
  align-items: center;
  height: 24px;
}

.author {
  font-size: 12px;
  margin-right: 8px;
}

.name {
  font-size: 16px;
  margin-left: 6px;
  font-weight: bold;
}

.postCardSmall {
  padding: 20px 40px 40px;
  min-height: 280px;
  box-sizing: border-box;
  margin: 0 -10px;
  box-shadow: 0px 1px 4px rgba(60, 68, 75, 0.13);
}

.postCardSmallRepost .rate {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.postCardSmall .toolbar__side {
  margin-bottom: 0;
}

.postCardSmall .title {
  min-width: 260px;
  z-index: 1;
  line-height: 24px;
  margin-bottom: 10px;
}

.postCardSmall .media {
  width: 100%;
  min-height: 280px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.postCardWithCover {
  color: #fff;
  box-shadow: 0px 1px 1px rgba(60, 68, 75, 0.07);
}

.postCardWithCover svg path {
  fill: #fff;
}

.postCardWithCover.postCardSmall {
  margin: 0 -20px;
}

.postCardSmallRepost {
  padding: 20px;
}

.postCardSmallRepost.postCardWithCover {
  margin: 0 -10px;
}